DEPRECIATED/TFT_ESP32/V3/PhatStats_ESP32_Touch/PhatStats_PCB_TFT_LOLIN_ESP32_V3.0.1.BT.Touch/TallmanLabs, TMLabs, Home of the Crystal cMoy, uVolume , GnatStats, PhatStats- Phat-Stats ILI9341 TFT Display Hook up Guide.url
Experimental/PhatStats Experimental PCB/PhatStats_PCB_TFT_ATSAMD_QT-PY_V3.Touch/TallmanLabs, TMLabs, Home of the Crystal cMoy, uVolume , GnatStats, PhatStats- Phat-Stats ILI9341 TFT Display Hook up Guide.url
DEPRECIATED/TFT_ESP32/V3/PhatStats_ESP32_Touch/PhatStats_PCB_TFT_LOLIN_ESP32_V3.0.1.BT.Touch/TallmanLabs, TMLabs, Home of the Crystal cMoy, uVolume , GnatStats, PhatStats- Phat-Stats ILI9341 TFT Display Hook up Guide.url
